@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: black;
  color: rgb(185, 217, 245);
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a:hover, a:link, a:visited, a:active {
  color: rgb(91, 173, 245);
  text-decoration: none; 
}

.welcome, .about, .blogs, .projects, .resume, .contact {
  text-align: center;
}

/* NAVBAR */

.navbar {
  padding: 24px 0px 24px 0px;
}

.navbar:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  padding-top: 24px;
  border-bottom: 2px solid rgb(185, 217, 245);
}
 
.navbar-name {
  color:rgb(255, 160, 71)
}

.navbar-item {
  display: inline-block;
  list-style-type: none;
}

.navbar-item:first-child {
  padding-left: 40px;
}

.navbar-item:not(:first-child) {
  float: right;
  padding-right: 40px;
}

.navbar-item:link, .navbar-item:visited, .navbar-item:active {
  color: rgb(185, 217, 245);
  text-decoration: none;
}

.navbar-item:hover {
  color: rgb(91, 173, 245);
  text-decoration: none;
}

/* WELCOME */

.welcome {
  background-image: url(https://media.tacdn.com/media/attractions-splice-spp-674x446/09/ae/e8/ba.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-hello {
  font-size: 400%;
  padding-top: 150px;
}

.welcome-name {
  color:rgb(255, 160, 71)
}

.welcome-desc1 {
  font-size: 300%;
  padding-top: 50px
}

.welcome-desc2 {
  font-size: 300%;
  padding-bottom: 50px
}

.welcome-button {
  width: 150px;
  height: 40px;
  font-size: 150%;
  margin-bottom: 200px;
  background-color:rgb(255, 160, 71);
  border: none;
  border-radius: 4px
}

.welcome-button:hover {
  background-color:rgb(250, 125, 8);
  cursor: pointer
}

/* ABOUT */

.about-cards-div {
  padding: 40px
}

.about-card {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.about-img {
  background-color:rgb(91, 173, 245);
  height: 160px;
  width: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
}

.about-card-title {
  margin: 16px 10px 0px 10px;
  color: rgb(255, 160, 71)
}

.about-card-description {
  margin: 16px 10px 0px 10px;
  color: rgb(185, 217, 245);
  font-style: italic;
}

.about-me-img {
  float: left;
  width: 500px;
  padding: 0px 50px 50px 150px;
  border-radius: 30px
}

.about-me-title {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 150px;
  color: rgb(255, 160, 71)
}

.about-me {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 150px
}

/* BLOGS */

.blog-card {
  width: 400px;
  height: 400px;
  display: inline-block;
  padding-top: 20px
}

.blog-img {
  height: 300px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.blog-title {
  margin: 10px 10px 0px 10px;
  color: rgb(255, 160, 71)
}

.blog-card-details {
  margin: 10px 10px 0px 10px;
  color: rgb(185, 217, 245);
}

/* PROJECTS */

.project-img-container {
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 40px;
}
 
.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
  text-align: center;
}

.project-img-container:hover .project-img {
  opacity: 0.3;
}

.project-img-container:hover .middle {
  opacity: 1;
}

.project-overlay {
  background-color: black;
  padding: 20px 20px;
}

.project-title {
  color: rgb(255, 160, 71);
  cursor: pointer;
  padding-bottom: 10px
}

.project-description {
  padding-bottom: 10px
}

.project-link {
  display: inline;
  color:rgb(91, 173, 245);
  cursor: pointer
}

/* RESUME */

.react-pdf__Page__canvas {
  padding-top: 40px;
  margin: 0 auto;
  width: 60% !important;
  height: 100% !important;
}

/* CONTACT */

.contact-form {
  padding-top: 40px;
  margin: 0 auto;
  width: 500px;
  height: 200px;
}

.input {
  width: 45%;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 30px;
  padding-left: 8px;
  background-color: black;
  border-color:rgb(185, 217, 245);
  color:rgb(185, 217, 245);
  border-style: solid;
  border-radius: 4px;
}
   
.input-msg {
  height: 80px;
  width: 94%;
  margin-left: 20px;
  padding-left: 8px;
  padding-top: 4px;
  background-color: black;
  border-color:rgb(185, 217, 245);
  color:rgb(185, 217, 245);
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

.contact-btn {
  width: 30%;
  height: 30px;
  background: black;
  border-color:rgb(185, 217, 245);
  color:rgb(185, 217, 245);
  border-style: solid;
  border-radius: 4px;
  border-width: 2px; 
  margin-bottom: 20px
}

.contact-btn:hover {
  background:rgb(185, 217, 245);
  border-color:black;
  color:black;
  cursor: pointer
}

.links {
  margin-top: 80px
}